[user]
	name = Dheebz
	email = 148539956+Dheebz@users.noreply.github.com
	signingkey = D9A1838AD9243C0B880354A0C3634E3F4902DFA4

[core]
  editor = nvim
  autocrlf = input
  excludesfile = ~/.gitignore_global

[init]
  defaultBranch = main

[push]
  default = current

[pull]
  ff = only

[merge]
  conflictstyle = zdiff3

[color]
  ui = auto
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
